* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v25_289 {
  width: 100%;
  height: 2276px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_299 {
  width: 419px;
  height: 479px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 96px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v122_1673 {
  width: 74px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 155px;
  left: 90px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1674 {
  width: 88px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 153px;
  left: 203px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1675 {
  width: 96px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 153px;
  left: 329px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1700 {
  width: 356px;
  height: 491px;
  background: url("/static/images/v122_1700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 582px;
  overflow: hidden;
}
.v122_1701 {
  width: 288px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v122_1703 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 0px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1707 {
  width: 195px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 149px;
  left: 2px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v122_1742 {
  width: 104px;
  height: 32px;
  background: url("/static/images/v122_1742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 37px;
  overflow: hidden;
}
.v122_1720 {
  width: 104px;
  height: 32px;
  background: url("/static/images/v122_1720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v122_1716 {
  width: 104px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v122_1721 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 47px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1744 {
  width: 150px;
  height: 66px;
  background: rgba(233,102,7,1);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v122_1746 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 306px;
  left: 22px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v122_1745 {
  width: 194px;
  height: 66px;
  background: rgba(30,144,255,1);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 162px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v122_1747 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 306px;
  left: 183px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v144_921 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 94px;
  left: 2px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1702 {
  width: 359px;
  background: url("/static/images/v122_1702.png");
  opacity: 1;
  position: absolute;
  top: 428px;
  left: 580px;
  border: 3px solid rgba(0,0,0,1);
}
.v122_1704 {
  width: 115px;
  height: 141px;
  background: url("/static/images/v122_1704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 102px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v122_1705 {
  width: 115px;
  height: 141px;
  background: url("/static/images/v122_1705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 247px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v122_1706 {
  width: 116px;
  height: 141px;
  background: url("/static/images/v122_1706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 396px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v122_1749 {
  width: 831px;
  height: 337px;
  background: url("/static/images/v122_1749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 952px;
  left: 108px;
  overflow: hidden;
}
.v122_1768 {
  width: 229px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v122_1801 {
  width: 797px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 0px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1803 {
  width: 830px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1132px;
  left: 108px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1804 {
  width: 797px;
  height: 441px;
  background: url("/static/images/v122_1804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1312px;
  left: 108px;
  overflow: hidden;
}
.v122_1805 {
  width: 128px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v131_694 {
  width: 21px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 54px;
  left: 65px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v131_695 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 182px;
  overflow: hidden;
}
.v131_700 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 306px;
  overflow: hidden;
}
.v131_701 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 430px;
  overflow: hidden;
}
.v131_696 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 306px;
  overflow: hidden;
}
.v131_697 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 430px;
  overflow: hidden;
}
.v131_698 {
  width: 108px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 554px;
  overflow: hidden;
}
.v131_703 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 202px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_704 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 344px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_705 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 474px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_706 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 594px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_707 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 344px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_708 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 94px;
  left: 475px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_727 {
  width: 117px;
  height: 34px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v131_728 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 148px;
  left: 41px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_730 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 202px;
  left: 18px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_739 {
  width: 29px;
  height: 13px;
  background: url("/static/images/v131_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 21px;
  overflow: hidden;
}
.v131_736 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Tilt Warp;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v131_740 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 221px;
  left: 55px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v131_745 {
  width: 326px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 247px;
  left: 18px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_748 {
  width: 28px;
  height: 28px;
  background: url("/static/images/v131_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 416px;
  overflow: hidden;
}
.v131_746 {
  width: 28px;
  height: 28px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v131_747 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v131_741 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1532px;
  left: 236px;
  font-family: Tilt Neon;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_749 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 253px;
  left: 1042px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v131_750 {
  width: 362px;
  height: 762px;
  background: url("/static/images/v131_750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 1046px;
  overflow: hidden;
}
.v131_751 {
  width: 185px;
  height: 233px;
  background: url("/static/images/v131_751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 0px;
  overflow: hidden;
}
.v131_752 {
  width: 185px;
  height: 233px;
  background: url("/static/images/v131_752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 0px;
  overflow: hidden;
}
.v131_761 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 526px;
  left: 191px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_763 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 273px;
  left: 191px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_769 {
  width: 147px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 330px;
  left: 193px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_765 {
  width: 171px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 62px;
  left: 193px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_767 {
  width: 145px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 620px;
  left: 193px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_753 {
  width: 185px;
  height: 233px;
  background: url("/static/images/v131_753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 1046px;
  overflow: hidden;
}
.v131_757 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 327px;
  left: 1240px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v122_1681 {
  width: 17px;
  height: 17px;
  background: url("/static/images/v122_1681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 181px;
  overflow: hidden;
}
.v122_1676 {
  width: 17px;
  height: 17px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v122_1680 {
  width: 8px;
  height: 14px;
  background: rgba(28,27,31,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v163_2572 {
  width: 17px;
  height: 17px;
  background: url("/static/images/v163_2572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 302px;
  overflow: hidden;
}
.v163_2573 {
  width: 17px;
  height: 17px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v163_2574 {
  width: 8px;
  height: 14px;
  background: rgba(28,27,31,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v422_1428 {
  width: 100%;
  height: 117px;
  background: url("/static/images/v422_1428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v422_1429 {
  width: 156px;
  height: 108px;
  background: url("/static/images/v422_1429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 81px;
  overflow: hidden;
}
.v422_1430 {
  width: 136px;
  color: url("/static/images/v422_1430.png");
  position: absolute;
  top: 18px;
  left: 10px;
  font-family: Jersey 20;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v422_1432 {
  width: 100%;
  height: 30px;
  background: rgba(30,144,255,1);
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
  overflow: hidden;
}
.v422_1433 {
  width: 187px;
  color: rgba(245,245,245,1);
  position: absolute;
  top: 15px;
  left: 189px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v422_1434 {
  width: 187px;
  color: rgba(245,245,245,1);
  position: absolute;
  top: 15px;
  left: 409px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v422_1435 {
  width: 184px;
  color: rgba(233,102,7,1);
  position: absolute;
  top: 15px;
  left: 629px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v422_1436 {
  width: 187px;
  color: rgba(245,245,245,1);
  position: absolute;
  top: 15px;
  left: 846px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v422_1437 {
  width: 187px;
  color: rgba(245,245,245,1);
  position: absolute;
  top: 15px;
  left: 1066px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v422_1438 {
  width: 131px;
  height: 37px;
  background: url("/static/images/v422_1438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1202px;
  overflow: hidden;
}
.v422_1439 {
  width: 37px;
  height: 37px;
  background: url("/static/images/v422_1439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v422_1440 {
  width: 37px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v422_1441 {
  width: 30px;
  height: 30px;
  background: rgba(30,144,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v422_1442 {
  width: 37px;
  height: 37px;
  background: url("/static/images/v422_1442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v422_1443 {
  width: 37px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v422_1444 {
  width: 24px;
  height: 24px;
  background: rgba(30,144,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
