/* ==== NAVBAR (thanh header) ==== */
.navbar, .navbar-dark, .bg-primary {
  background-color: #1E90FF !important;
}

.navbar a, .navbar-brand, .navbar-nav .nav-link, .navbar .nav-item .nav-link {
  color: #ffffff !important;
}

.navbar a:hover, .navbar-nav .nav-link:hover {
  color: #f0f0f0 !important;
}

/* ==== SIDEBAR BRAND ==== */
.brand-link {
  background-color: #ffffff !important;
  color: #E96607 !important;
  font-weight: bold;
}

.brand-link:hover {
  color: #1E90FF !important;
}

/* ==== BUTTONS ==== */
.btn-primary {
  background-color: #1E90FF !important;
  border-color: #1E90FF !important;
}

.btn-primary:hover {
  background-color: #1177d1 !important;
  border-color: #1177d1 !important;
}
